<div class="body">
<div class="wrapper wrapper-login ">
  <div class="container signup-two-forms container-login animated fadeIn signup">
          <div class="flaticon-success signup-success"></div>
          <h3 class="text-center">Sign Up Successfull !</h3>
          <h4><strong> Password has been successfully updated !</strong></h4>
          
          <p>A verification link has been sent to your email account</p>
          <p>Please click on the link that has just been sent to your email account to verify email and continue the registration process.</p>
          <p>The email might take up to 5 minutes to arrive.</p>
          <p>Also, please check your spam folder</p>
          <hr>
          <p>Didn't receive email?  <a href="">Resend Verification email</a> </p>
  </div>
  
</div>
</div>